{% extends "blog/base.html" %}
{% block content %}

    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{post.author.profile.image.url }}" alt="">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'profile' %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
            <div class="d-flex align-item-center">
              <div class="star p-1">
                <a onclick="addStar({{post.id}})"><i class="fa-regular fa-star text-warning"></i> <small id="stars-{{post.id}}" >{{post.stars}}</small></a>
              </div>
              <div class="comment p-1">
              <a href="{% url 'showcomments' post.id %}"><i class="fa-regular fa-comment"></i> <small>{{post.comment.comment}}</small></a>
              </div>
            </div>
          </div>
        </article>
        

    {% endfor %}


{% endblock %}
